{% extends 'base.html' %}
{% load static %}

{% block title %}
    Cart Detail
{% endblock %}

{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'pics/bg_1.jpg' %}');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home:home' %}">خانه</a></span></p>
                    <h1 class="mb-0 bread">سبد خرید</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    {% if not cart.empty_cart %}
                        <div class="cart-list">
                            <table class="table">
                                <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>نام محصول</th>
                                    <th>قیمت</th>
                                    <th>تعداد</th>
                                    <th>جمع کل</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in cart %}
                                    <tr class="text-center">
                                        <td class="product-remove">
                                            <a href="{% url 'cart:cart-delete' item.unique_id %}">
                                                <span class="ion-ios-close"></span>
                                            </a>
                                        </td>

                                        <td class="image-prod">
                                            <div class="img"
                                                 style="background-image:url({{ item.product.image.url }});"></div>
                                        </td>

                                        <td class="product-name">
                                            <h3>{{ item.product.title }}</h3>
                                        </td>

                                        <td class="price">{{ item.price }} هزار تومان</td>


                                        <td class="quantity">
                                            <div class="input-group mb-3">
                                                <input type="text" name="quantity"
                                                       class="quantity form-control input-number"
                                                       value="{{ item.quantity }}" min="1"
                                                       max="100" readonly>
                                            </div>
                                        </td>


                                        <td class="total">{{ item.total }} هزار تومان</td>
                                    </tr>
                                    <!-- END TR-->
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>


                        </div>
                        </div>
                        <div class="row justify-content-start">

                            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                                <div class="cart-total mb-3">
                                    <h3>صورت حساب</h3>

                                    <hr>
                                    <p class="d-flex total-price">
                                        <span>جمع کل</span>
                                        <span>{{ cart.total }} هزار تومان</span>
                                    </p>
                                </div>
                                <p><a href="{% url 'cart:order-create' %}" class="btn btn-primary py-3 px-4">پرداخت</a></p>
                                <p><a href="{% url 'product:product-list' %}" class="btn btn-primary py-3 px-4">ادامه
                                    خرید</a></p>
                            </div>
                        </div>


                    {% else %}
                        <h4>سبد خرید شما خالی است</h4>
                        <h5>همین حالا <a href="{% url 'product:product-list' %}"> خرید </a>کنید</h5>
                    {% endif %}

        </div>
    </section>
{% endblock %}