{% extends 'base.html' %}
{% load static %}

{% block title %}
    Cart Detail
{% endblock %}

{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'pics/bg_1.jpg' %}');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home:home' %}">خانه</a></span></p>
                    <h1 class="mb-0 bread">سبد خرید</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <h4>پرداخت با موفقیت انجام شد.</h4>
                </div>

            </div>
        </div>
    </section>
{% endblock %}