{% extends 'base.html' %}
{% load static %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'pics/bg_1.jpg' %}');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home:home' %}">خانه</a></span></p>
                    <h1 class="mb-0 bread">ارتباط با ما</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="w-100"></div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>آدرس:</span> ایران - خرم آباد - بلوار ولیعصر</p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>تلفن:</span> <a href="tel://1234567920">02112345678</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>ایمیل:</span> <a href="mailto:info@yoursite.com">email@website.com</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>وب سایت</span> <a href="#">www.example.com</a></p>
                    </div>
                </div>
            </div>
            <div class="row block-9">
                <div class="col-md-6 order-md-last d-flex">
                    <form method="post" class="bg-white p-5 contact-form">
                        {% csrf_token %}

                        <div class="form-group">
                            {{ form.name }}
                        </div>

                        <div class="form-group">
                            {{ form.email }}
                        </div>

                        <div class="form-group">
                            {{ form.subject }}
                        </div>

                        <div class="form-group">
                            {{ form.text }}
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary py-3 px-5">ارسال پیام</button>
                        </div>

                    </form>

                </div>

                <div class="col-md-6 d-flex">
                    <div id="map" class="bg-white"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}