{% extends 'base.html' %}
{% load static %}


{% block title %}
    All Products
{% endblock %}

{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'pics/bg_1.jpg' %}');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home:home' %}">خانه</a></span></p>
                    <h1 class="mb-0 bread">محصولات</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 mb-5 text-center">
                    <ul class="product-category">
                        <li><a href="{% url 'product:product-list' %}" class="active">همه ی محصولات</a></li>
                        {% for category in categories %}
                            <li><a href="{% url 'product:category-product' category.id %}">{{ category.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="{% url 'product:product-detail' product.id %}" class="img-prod"><img
                                    class="img-fluid" src="{{ product.image.url }}"
                                    alt="{{ product.title }}">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="{% url 'product:product-detail' product.id %}">{{ product.title }}</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price">
                                            {% if product.discount %}
                                                <span class="mr-2 price-dc">{{ product.price }} هزار تومان</span>
                                                <span class="price-sale">{{ product.discount }} هزار تومان</span></p>
                                            {% else %}
                                                <span class="price-sale">{{ product.price }} هزار تومان</span></p>
                                            {% endif %}
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        <form method="post" action="{% url 'cart:wishlist-add' product.id %}">
                                            {% csrf_token %}
                                            <button type="submit"
                                                    class="btn btn-success heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            {% if page_obj.has_other_pages %}
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                                {% endif %}

                                {% for i in page_obj.paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}